@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .paused{
        animation-play-state:paused;
    }
    .contactIcon:hover{
        fill:#F06F4F;
        transition: all;
        transition-duration: 100ms;
        transition: ease-in-out;
    }
    .MyGradient {
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
        -webkit-mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
    }
}
